.tela-home {
  width: 50%;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

.formulario-cadastrar {

  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  & img {
    width: 70%;
  }

  & button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    min-width: 300px;
  }

}

.formulario-busca {

  display: flex;
  margin-bottom: 20px;

  & input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px;
  }

  & input[type="text"]:focus {
    border-color: #6200ea;
    box-shadow: 0 0 5px rgba(98, 0, 234, 0.5);
  }

  & input[type="text"]::placeholder {
    color: #999;
    font-style: italic;
  }

  & button {

    background-color: #6200ea;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

  }
}

.item-resultado {
  margin-bottom: 20px;
  height: 100px;

  & .info-resultado {
    margin-bottom: 10px;

  }

  & .info-nome {
    margin-bottom: 10px;
  
  }

  & button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
}

.info-resultado div {
  margin-bottom: 10px;;

}

& .paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  
}


.paginacao button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.paginacao button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.paginacao button:hover:not(:disabled) {
  background-color: #3700b3;
}

.paginacao span {
  font-size: 1rem;
  color: #333;
}
  